<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n %throwable{short}" />
		</layout>
	</appender>

	<appender name="ROLL" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="File" value="system.log" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>
	
	<appender name="PERF" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="File" value="perf.log" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>

	<appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="ERROR" />
		<param name="File" value="error.log" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>
	
	<logger name="edu.gmu.swe681.checkers" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLL" />
	</logger>

	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLL" />
		<appender-ref ref="ERROR" />
	</root>

</log4j:configuration>